.container
	= simple_form_for(@workout, html: { class: 'form-horizontal' }) do |f|
		= f.input :date, label: "Date"
		= f.input :workout, label: "What was your workout?", input_html: { class: 'form-control'}
		= f.input :mood, label: "Mood of the day", input_html: { class: 'form-control'}
		= f.input :length, label: "Length of the workout", input_html: { class: 'form-control'}
		%br/
		= f.button :submit